<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head")%>
        <title>Viewing chat <%= chatID %></title>
        <%= %>
    </head>
    <body>
        <%- include("../partials/navbar")%>
        <main>
            <h1 class="title sticky-header has-text-centered has-background-dark"><%= title %></h1>
            <div class="container">
                <div class="columns">
                    <div class="column"></div>
                    <div class="column is-two-thirds">
                        <section class="messages">
                            <div class="fixed-grid has-1-cols">
                                <div class="grid">
                                    <%for (const m of messageData) {%>
                                    <div class="cell">
                                        <%- include("./partials/chatMessageCard",{chatID, messageID:m.message_id, senderID: m.sender_id, message:
                                        m.message, sentDateTime: m.sent_date_time, username: m.username}) %>
                                    </div>
                                    <%}%>
                                </div>
                            </div>
                        </section>
                        <section class="messaging">
                            <h2 class="subtitle">Submit a mesage:</h2>
                            <form action="/chats/<%= chatID %>" method="POST">
                                <input type="text" hidden value="<%= userID %>" name="senderID" />
                                <div class="field">
                                    <label class="label" for="message">Message</label>
                                    <div class="control">
                                        <textarea class="textarea" placeholder="Write your message here" id="message" name="message"></textarea>
                                    </div>
                                </div>
                                <div class="field is-grouped">
                                    <div class="control">
                                        <button class="button is-link">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </section>
                    </div>
                    <div class="column"></div>
                </div>
            </div>
        </main>
        <%- include("../partials/footer")%>
        <script
            type="module"
            src="/js/deleteContent.js"
            data-class-of-form-to-look-for="delete-message-form"
            data-class-of-element-to-hide="message-card"
        ></script>
        <script type="module" src="/js/chat/editMessage.js"></script>
    </body>
</html>
