<div class="card chat-card">
    <div class="card-content">
        <a href="/chats/<%= chatID %>">
            <div class="is-flex is-justify-content-space-between">
                <p class="title mb-1 mr-3"><%= title %></p>
                <div class="status-indicator">
                    <% if (status == "Open") { %>
                    <p class="status-open-text">
                        <%= status %>
                        <span class="status-indicator-color status-open"></span>
                    </p>
                    <% } else if (status == "Responded") { %>
                    <p class="status-responded-text">
                        <%= status %>
                        <span class="status-indicator-color status-responded"></span>
                    </p>
                    <% } else if (status == "Closed") { %>
                    <p class="status-closed-text">
                        <%= status %>
                        <span class="status-indicator-color status-closed"></span>
                    </p>
                    <% } %>
                </div>
            </div>
        </a>
        <a href="/chats/<%= chatID %>">
            <p class="subtitle mb-1 is-white"><%= username %></p>
        </a>
        <div class="is-flex is-justify-content-space-between">
            <a href="/chats/<%= chatID %>">
                <p class="is-white">Created Time: <%= createdDateTime %></p>
                <p class="is-white">Last Activity: <%= lastActivityDateTime %></p>
            </a>
            <div class="dropdown">
                <div class="dropdown-trigger">
                    <button class="button dropdown-trigger-button" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                        <div class="dropdown-item">
                            <form action="/chats/delete/<%= chatID %>?_method=PATCH" method="POST" class="delete-chat-form card-footer-item">
                                <button class="has-text-danger card-button" type="submit">
                                    <span class="icon"> <i class="fa-solid fa-trash"></i> </span>
                                    Delete <% if (helpeeID != userID) { %>
                                    <span class="icon"> <i class="fa-solid fa-triangle-exclamation has-text-warning"></i> </span>
                                    <% } %>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
