<div class="card chat-card">
    <a href="/chats/<%= chatID %>">
        <div class="card-content">
            <div class="is-flex is-justify-content-space-between">
                <p class="title mb-1"><%= title %></p>
                <div class="status-indicator">
                    <% if (status == "Open") { %>
                    <p class="status-open-text">
                        <%= status %>
                        <span class="status-indicator-color status-open"></span>
                    </p>
                    <% } else if (status == "Responded") { %>
                    <p class="status-responded-text">
                        <%= status %>
                        <span class="status-indicator-color status-responded"></span>
                    </p>
                    <% } else if (status == "Closed") { %>
                    <p class="status-closed-text">
                        <%= status %>
                        <span class="status-indicator-color status-closed"></span>
                    </p>
                    <% } %>
                </div>
            </div>
            <p class="subtitle mb-1"><%= username %></p>

            <p>Created Time: <%= createdDateTime %></p>
            <p>Last Activity: <%= lastActivityDateTime %></p>
        </div>
    </a>
    <footer class="card-footer">
        <form method="POST" action="/chats/delete/<%= chatID %>?_method=PATCH" class="card-footer-item delete-chat-form">
            <button>Delete</button>
        </form>
    </footer>
</div>
