<div class="card p-4 message-card">
    <div class="card-content">
        <div class="is-flex is-justify-content-space-between">
            <p class="title"><%= username %></p>
            <p class="has-text-right is-inline"><%= sentDateTime %></p>
        </div>
        <p><%= message %></p>
    </div>
    <footer class="card-footer">
        <form action="/chats/<%= chatID %>?_method=PATCH" method="POST" class="edit-message-form card-footer-item">
            <input type="hidden" name="messageID" value="<%= messageID %>" />
            <input type="hidden" name="message" value="<%= message %>" />
            <button class="has-text-info" type="submit">Edit</button>
        </form>
        <form action="/chats/<%= chatID %>?_method=DELETE" method="POST" class="delete-message-form card-footer-item">
            <input type="hidden" name="messageID" value="<%= messageID %>" />
            <button class="has-text-danger" type="submit">Delete</button>
        </form>
    </footer>
</div>
